* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 25px 5%;
}

.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.split {
  justify-content: space-between;
}

.y-center {
  align-items: center;
}

header {
  padding: 8px 5%;
  background: #555;
  color: #fff;
}

.person, .note {
  padding: 15px;
}